# Fact Check - Will's Analysis

### In the following, I'll be fact checking work that Will has done by himself. Other work that he did that I also happened to do, is in the other notebooks.

## Below, I'm fact checking roster analysis

In [3]:
import pandas as pd

In [4]:
pd.set_option('display.max_rows', 1000)

In [77]:
# WC - had to edit the roster path location 
#roster = pd.read_csv("/Users/josemartinez/Desktop/Code/Discipline_Data/staff_roster_cleaned.csv")
data_dir = os.path.join(cwd, 'data')
processed_dir = os.path.join(data_dir, 'processed')
discipline_csv = os.path.join(processed_dir, 'cleaned_discipline_final.csv')
staff_roster_csv = os.path.join(processed_dir, 'staff_roster_cleaned.csv')

roster = pd.read_csv(staff_roster_csv, parse_dates = ['date_started'])

In [6]:
roster

,name,job_desc,dept_desc,gender,race_ethnicity,date_started,year,clean_name,clean_race_ethnicity
0,"PETTY, MARLENE F",Police Operations Coord 2,Police,F,White (Not of Hispanic Origin),1998-02-01,2010,f marlene petty,white
1,"DUPIE III, LEANDER H.",Police Lieutenant,Police,M,White (Not of Hispanic Origin),1991-11-01,2010,dupie h iii leander,white
2,"TAYLOR, CHRIS M.",Police Captain,Police,M,White (Not of Hispanic Origin),1992-03-16,2010,chris m taylor,white
3,"DYER, WILLIAM K.",Police Lieutenant,Police,M,White (Not of Hispanic Origin),1988-03-16,2010,dyer k william,white
4,"SOWELL III, CAMPBELL M.",Police Sergeant,Police,M,White (Not of Hispanic Origin),1992-09-01,2010,campbell iii m sowell,white
...,...,...,...,...,...,...,...,...,...
23640,"Modransky, Eric Charles",Police Officer 1,031 Police,M,White,2019-08-16,2021,charles eric modransky,white
23641,"Robertson, Joshua E",Police Officer 2,031 Police,M,White,2006-12-16,2021,e joshua robertson,white
23642,"Vanders, Christian William",Police Officer 2,031 Police,M,White,2019-03-16,2021,christian vanders william,white
23643,"Vegas, Parker Joseph",Police Officer 2,031 Police,M,White,2019-03-16,2021,joseph parker vegas,white
23644,"Williams, Darryl W",Police Officer 2,031 Police,M,Black or African American,2014-04-01,2021,darryl w williams,black

In [7]:
roster_by_race = roster.groupby(['clean_race_ethnicity'])['clean_name'].count().to_frame(name='amount').reset_index()

In [8]:
roster_by_race['% of total'] = (roster_by_race['amount']/roster_by_race['amount'].sum()) * 100

In [9]:
roster_by_race

     clean_race_ethnicity  amount  % of total
0  asian/pacific islander     284    1.201201
1                   black    4384   18.542486
2                hispanic     423    1.789113
3             multiracial     257    1.087002
4         native american      30    0.126887
5                 unknown      15    0.063444
6                   white   18250   77.189866

WC Note - the aboce groupby matches very closely the averages that I found, except for multiracial. Why? Multiracial was likely only added as a category in 2018. if we take the average for the multiracial category excluding all the years that its essentially 0

In [29]:
roster.groupby(['year', 'clean_race_ethnicity']).agg(
    {'name':'count'}
).groupby(level=0).apply(lambda x: 100 *  x/x.sum()).reset_index().groupby(
    ['clean_race_ethnicity']
).name.mean()

clean_race_ethnicity
asian/pacific islander     1.202652
black                     18.571730
hispanic                   1.782880
multiracial                3.195554
native american            0.126457
unknown                    0.095444
white                     77.187467
Name: name, dtype: float64

## ^Matches Will's findings about MNDP racial makeup.

In [72]:
roster_by_gender = roster.groupby(['gender'])['gender'].count().to_frame(name='amount').reset_index()

In [73]:
roster_by_gender

  gender  amount
0      F    5816
1      M   17829

In [74]:
roster_by_gender['% of total'] = (roster_by_gender['amount']/roster_by_race['amount'].sum()) *100

In [76]:
roster_by_gender

  gender  amount  % of total
0      F    5816   24.599247
1      M   17829   75.409212

In [37]:
roster.groupby(
    ['year', 'clean_race_ethnicity', 'gender']
).agg({'name':'count'}).groupby(level=0).apply(
    lambda x: x/x.sum() * 100
).groupby(['clean_race_ethnicity', 'gender']).name.mean()

clean_race_ethnicity    gender
asian/pacific islander  F          0.093189
                        M          1.109463
black                   F          8.434516
                        M         10.137213
hispanic                F          0.563557
                        M          1.219323
multiracial             F          0.621843
                        M          2.573711
native american         F          0.060757
                        M          0.075827
unknown                 M          0.095444
white                   F         15.235278
                        M         61.952189
Name: name, dtype: float64

In [72]:
roster.groupby(
    ['clean_name', 'gender']
).size().groupby('gender').size()

gender
F    1161
M    2615
dtype: int64

In [74]:
1161/(1161+2615)

0.3074682203389831

## ^Matches Will's findings about MNDP gender makeup.

In [135]:
gender_and_race = roster.groupby(['clean_race_ethnicity','gender'])['name'].count().to_frame().reset_index()

In [136]:
gender_and_race['% of total'] = (gender_and_race['name']/gender_and_race['name'].sum()) * 100

In [137]:
gender_and_race

      clean_race_ethnicity gender   name  % of total
0   asian/pacific islander      F     22    0.093051
1   asian/pacific islander      M    262    1.108150
2                    black      F   1991    8.421097
3                    black      M   2393   10.121389
4                 hispanic      F    134    0.566764
5                 hispanic      M    289    1.222349
6              multiracial      F     50    0.211479
7              multiracial      M    207    0.875523
8          native american      F     12    0.050755
9          native american      M     18    0.076132
10                 unknown      M     15    0.063444
11                   white      F   3607   15.256101
12                   white      M  14643   61.933765

In [122]:
gender_and_race = gender_and_race[gender_and_race['clean_race_ethnicity']!='unknown']

## ^Matches Will's findings about MNDP race and gender makeup

# Fact checking discipline analysis below

In [50]:
#discipline = pd.read_csv("/Users/josemartinez/Desktop/Code/Discipline_Data/cleaned_discipline_final.csv")
discipline  = pd.read_csv(discipline_csv, parse_dates=['FINAL DISP DATE'])
discipline['year'] = discipline.apply(
    lambda x: x['FINAL DISP DATE'].year,
    axis=1
)

In [51]:
discipline = discipline[
    (discipline.clean_race_ethnicity!='unknown') & (discipline.roster_name_match!='no match') & ~(discipline.clean_race_ethnicity.isna())
].copy()

In [52]:
discipline.columns = [
    'control_number',
    'final_disposition_date',
    'final_disposition',
    'final_number_of_days',
    'last_name',
    'first_name',
    'allegation',
    'complaintant_gender',
    'complaintant_race',
    'dirty_full_name',
    'clean_discipline_name',
    'clean_roster_name',
    'artifact_roster_name',
    'officer_gender',
    'officer_race',
    'year'
]

In [53]:
discipline

,control_number,final_disposition_date,final_disposition,final_number_of_days,last_name,first_name,allegation,complaintant_gender,complaintant_race,dirty_full_name,clean_discipline_name,clean_roster_name,artifact_roster_name,officer_gender,officer_race,year
31,064410,2010-08-23,UNFOUNDED,NaN,BOWLING,DANIEL,OBSTRUCTION OF RIGHTS-OPA REFERRAL,M,B,DANIEL BOWLING,daniel bowling,bowling daniel j,bowling daniel j,M,white,2010
42,SV2020-00111,2020-03-23,WRITTEN,NaN,BREEDING,KEVIN,CARE OF GOVERNMENT PROPERTY,M,W,KEVIN BREEDING,kevin breeding,breeding kevin l,breeding kevin l,M,white,2020
44,011310,2010-03-26,EXONERATED,NaN,JONES,AARON,INABILITY TO APPEAR - CALLED IN 12/21/2009,NaN,NaN,AARON JONES,aaron jones,aaron jones l,aaron jones l,M,black,2010
45,12939,2010-03-29,EXONERATED,NaN,JONES,AARON,INABILITY TO APPEAR - CALLED IN 12/2/2009,NaN,NaN,AARON JONES,aaron jones,aaron jones l,aaron jones l,M,black,2010
46,045810,2010-08-05,WRITTEN,NaN,JONES,AARON,ADHERENCE TO LAW - SPEEDING/RECKLESS DRIVING,M,W,AARON JONES,aaron jones,aaron jones l,aaron jones l,M,black,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12891,SV2020-00103,2020-03-19,EXONERATED,NaN,PLESE,ZACHARY,FTA CALL-IN: 2/19/20,NaN,NaN,ZACHARY PLESE,zachary plese,martin plese zachary,martin plese zachary,M,white,2020
12892,DF20-7-5,2020-09-09,EXONERATED,NaN,CARTER,ZACHARY,DEFICIENT OR INEFFICIENT PERFORMANCE OF DUTIES,M,W,ZACHARY CARTER,zachary carter,carter chase zachary,carter chase zachary,M,white,2020
12893,DF20-7-12,2020-10-21,UNFOUNDED,NaN,ALDRICH,ZACHARY,CONDUCTING INVESTIGATIONS AND VICTIM/WITNESS S...,F,W,ZACHARY ALDRICH,zachary aldrich,aldrich matthew zachary,aldrich matthew zachary,M,white,2020
12894,DF20-8-45,2020-11-09,SUSPENDED,2.0,CARTER,ZACHARY,"POLICE VEHICLE POLICY, VEHICULAR PURSUIT",M,W,ZACHARY CARTER,zachary carter,carter chase zachary,carter chase zachary,M,white,2020
12895,SV2020-00136,2020-05-07,WRITTEN,NaN,MURRAY,ZAIRE,TASER AD,M,W,ZAIRE MURRAY,zaire murray,james murray zaire,james murray zaire,M,multiracial,2020

In [158]:
dis_by_gender = discipline.groupby(['officer_gender'])['officer_gender'].count().to_frame(name='amount').reset_index()

In [159]:
dis_by_gender

  officer_gender  amount
0              F    1099
1              M   11403

In [160]:
dis_by_gender['% of dept'] = (dis_by_gender['amount']/dis_by_gender['amount'].sum())*100

In [161]:
dis_by_gender

  officer_gender  amount  % of dept
0              F    1099   8.790594
1              M   11403  91.209406

In [59]:
discipline.groupby(
    ['year', 'officer_race']
).agg({'clean_roster_name':'count'}).groupby(level=0).apply(
    lambda x: x/x.sum() * 100
)

                             clean_roster_name
year officer_race
2010 asian/pacific islander           1.658477
     black                           14.373464
     hispanic                         1.289926
     multiracial                      1.658477
     native american                  0.061425
     white                           80.958231
2011 asian/pacific islander           1.942446
     black                           14.892086
     hispanic                         1.942446
     multiracial                      1.654676
     native american                  0.143885
     white                           79.424460
2012 asian/pacific islander           1.570307
     black                           14.275517
     hispanic                         2.212705
     multiracial                      1.641685
     native american                  0.071378
     white                           80.228408
2013 asian/pacific islander           1.692421
     black                           14.569536
     hispanic                         1.030169
     multiracial                      2.501840
     white                           80.206034
2014 asian/pacific islander           1.563786
     black                           13.662551
     hispanic                         1.893004
     multiracial                      3.209877
     white                           79.670782
2015 asian/pacific islander           1.045857
     black                           12.228479
     hispanic                         1.850362
     multiracial                      3.620274
     native american                  0.080451
     white                           81.174578
2016 asian/pacific islander           1.008249
     black                           11.274060
     hispanic                         2.749771
     multiracial                      4.216315
     native american                  0.091659
     white                           80.659945
2017 asian/pacific islander           0.763359
     black                           13.740458
     hispanic                         2.181025
     multiracial                      5.997819
     white                           77.317339
2018 asian/pacific islander           1.694915
     black                           14.769976
     hispanic                         2.663438
     multiracial                      4.237288
     white                           76.634383
2019 asian/pacific islander           0.369004
     black                           13.284133
     hispanic                         1.353014
     multiracial                      2.952030
     white                           82.041820
2020 asian/pacific islander           1.777060
     black                           11.954766
     hispanic                         2.261712
     multiracial                      3.715670
     native american                  0.323102
     white                           79.967690

## ^Matches Will's findings about racial makeup of discipline data.

In [366]:
dis_by_race = discipline.groupby(['officer_race'])['officer_race'].count().to_frame(name='amount').reset_index()

In [367]:
dis_by_race = dis_by_race[dis_by_race['officer_race'] != 'unknown']

In [368]:
dis_by_race['% of dis'] = (dis_by_race['amount']/dis_by_race['amount'].sum())*100

In [369]:
dis_by_race = dis_by_race[dis_by_race['officer_race'] != 'unknown']

In [370]:
dis_by_race

             officer_race  amount   % of dis
0  asian/pacific islander     177   1.415773
1                   black    1710  13.677812
2                hispanic     236   1.887698
3             multiracial     374   2.991521
4         native american       8   0.063990
5                   white    9997  79.963206

## Matches Will's findings about racial share of allegations.

In [89]:
race_dispo = discipline.groupby(['officer_race','final_disposition'])['final_disposition'].count().to_frame(name='amounts').reset_index()

In [90]:
severe_dispo_race = race_dispo.loc[race_dispo['final_disposition'].str.contains('SUSPEN|DEMOT|TERMIN')].groupby(['officer_race'])['amounts'].sum().to_frame(name='amounts').reset_index()

In [91]:
all_dispo_race = discipline.groupby(['officer_race','final_disposition'])['final_disposition'].count().to_frame(name='amount').reset_index().groupby(['officer_race'])['amount'].sum().to_frame(name='amounts').reset_index()

In [92]:
severe_dispo_race['% of total'] = (severe_dispo_race['amounts']/all_dispo_race['amounts'])*100

In [93]:
severe_dispo_race

             officer_race  amounts  % of total
0  asian/pacific islander       36   20.338983
1                   black      522   30.526316
2                hispanic       58   24.576271
3             multiracial       78   20.855615
4         native american        1   12.500000
5                   white     2006   20.066020

In [98]:
severe_dispo_race.amounts.sum()

2701

In [95]:
race_dispo.amounts.sum()

12502

In [99]:
2701/12502

0.21604543273076307

## ^Matches Will's findings about racial makeup of severe dispositions.

In [273]:
race_gender_dispo = discipline.groupby(['officer_race','officer_gender','final_disposition'])['final_disposition'].count().to_frame(name='amounts').reset_index()

In [274]:
severe_dispo_race_gender = race_gender_dispo.loc[race_gender_dispo['final_disposition'].str.contains('SUSPEN|DEMOT|TERMIN')].groupby(['officer_race','officer_gender'])['amounts'].sum().to_frame(name='amounts').reset_index()

In [275]:
all_dispo_race_gender = discipline.groupby(['officer_race','officer_gender','final_disposition'])['final_disposition'].count().to_frame(name='amount').reset_index().groupby(['officer_race','officer_gender'])['amount'].sum().to_frame(name='amounts').reset_index()

In [276]:
all_dispo_race_gender = all_dispo_race_gender.loc[all_dispo_race_gender['amounts']!=2].reset_index()

In [286]:
severe_dispo_race_gender['% of total'] = (severe_dispo_race_gender['amounts']/all_dispo_race_gender['amounts'])*100

In [287]:
severe_dispo_race_gender

              officer_race officer_gender  amounts  % of total
0   asian/pacific islander              F        3   75.000000
1   asian/pacific islander              M       33   19.075145
2                    black              F       96   40.851064
3                    black              M      426   28.881356
4                 hispanic              F        8   24.242424
5                 hispanic              M       50   24.630542
6              multiracial              F        6   16.666667
7              multiracial              M       72   21.301775
8          native american              M        1   16.666667
9                    white              F      161   20.405577
10                   white              M     1845   20.036924

## ^Matches Will's findings about racial and gender makeup of severe dispositions.

In [62]:
discipline.groupby(
    ['officer_race','officer_gender']
).agg({'control_number':'count'})/len(discipline)*100

                                       control_number
officer_race           officer_gender
asian/pacific islander F                     0.031995
                       M                     1.383779
black                  F                     1.879699
                       M                    11.798112
hispanic               F                     0.263958
                       M                     1.623740
multiracial            F                     0.287954
                       M                     2.703567
native american        F                     0.015997
                       M                     0.047992
white                  F                     6.310990
                       M                    73.644217

In [85]:
roster_2021.columns

Index(['name', 'job_desc', 'dept_desc', 'gender', 'race_ethnicity',
       'date_started', 'year', 'clean_name', 'clean_race_ethnicity', 'tenure'],
      dtype='object')

In [79]:
roster_2021 = roster[
    roster.year==2021
].copy()

roster_2021['tenure'] = roster_2021.apply(
    lambda x: (pd.to_datetime('06/28/2021') - x.date_started).days,
    axis=1
)

In [87]:
roster_2021.groupby(['race_ethnicity', 'gender'])['tenure'].mean()/365

race_ethnicity                     gender
American Indian or Alaskan Native  F         19.726027
                                   M          5.258447
Asian                              F          3.868493
                                   M         11.925766
Black or African American          F          9.830991
                                   M         13.402666
Hispanic or Latino of any race     F          6.127646
                                   M          8.449787
Native Hawaiian or Other Pacific   M         14.665753
Two or More Races                  F          7.693151
                                   M         11.995595
White                              F         10.974607
                                   M         12.469129
Name: tenure, dtype: float64

In [118]:
# The avg number of officers disciplined of that race per year 
discipline[discipline['final_disposition'].str.contains('SUSPEN|DEMOT|TERMIN')].groupby(
    ['clean_roster_name', 'officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race']
).mean()

                             count
officer_race
asian/pacific islander    3.000000
black                    36.818182
hispanic                  4.600000
multiracial               5.636364
native american           1.000000
white                   151.727273

In [ ]:
# The avg number of officers disciplined severely of that race per year 
discipline.groupby(
    ['clean_roster_name', 'officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race']
).mean()

In [116]:
# the avg number of employees of that race per year 
roster.groupby(
    ['clean_name','clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity']
).mean()

                              count
clean_race_ethnicity
asian/pacific islander    23.666667
black                    365.333333
hispanic                  35.250000
multiracial               64.250000
native american            2.500000
unknown                    1.875000
white                   1520.666667

In [117]:
# perc of each group disciplined on average per year 

discipline.groupby(
    ['clean_roster_name', 'officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race']
).mean() / roster.groupby(
    ['clean_name','clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity']
).mean()

                           count
asian/pacific islander  0.330346
black                   0.230922
hispanic                0.312057
multiracial             0.291475
native american         0.466667
unknown                      NaN
white                   0.336874

In [119]:
# The avg number of officers disciplined of that race per year 
discipline[discipline['final_disposition'].str.contains('SUSPEN|DEMOT|TERMIN')].groupby(
    ['clean_roster_name', 'officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race', 'year']
).size().to_frame('count').groupby(
    ['officer_race']
).mean()/roster.groupby(
    ['clean_name','clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity']
).mean()

                           count
asian/pacific islander  0.126761
black                   0.100780
hispanic                0.130496
multiracial             0.087726
native american         0.400000
unknown                      NaN
white                   0.099777

In [125]:
discipline[discipline['final_disposition'].str.contains('SUSPEN|DEMOT|TERMIN')].groupby(
    ['clean_roster_name', 'officer_race','officer_gender', 'year']
).size().to_frame('count').groupby(
    ['officer_race','officer_gender', 'year']
).size().to_frame('count').groupby(
    ['officer_race', 'officer_gender']
).mean()

                                            count
officer_race           officer_gender
asian/pacific islander F                 1.500000
                       M                 2.700000
black                  F                 6.727273
                       M                30.090909
hispanic               F                 1.200000
                       M                 4.444444
multiracial            F                 1.250000
                       M                 5.181818
native american        M                 1.000000
white                  F                12.090909
                       M               139.636364

In [126]:
roster.groupby(
    ['clean_name','clean_race_ethnicity','gender', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity','gender', 'year']
).size().to_frame('count').groupby(
    ['clean_race_ethnicity','gender']
).mean()

                                     count
clean_race_ethnicity   gender
asian/pacific islander F          1.833333
                       M         21.833333
black                  F        165.916667
                       M        199.416667
hispanic               F         11.166667
                       M         24.083333
multiracial            F         12.500000
                       M         51.750000
native american        F          1.200000
                       M          1.500000
unknown                M          1.875000
white                  F        300.583333
                       M       1220.083333

In [127]:
6.727273/165.916667

0.040546095347973696